<html>
	<head>
		<title>Django girls test blog</title>
	</head>
	<body>
		<div>
			<h1>Django Girls blog</h1>
			<h2>First sub-heading</h2>
			<h3>Nothing super interesting here</h3>
			<p>"a la vaca le gusta jugar con al queso porque al queso le gusta con a la vaca"<br>
			Newline test </p>
		</div>

		<div>
			<h2>Second heading</h2>
			<p> my brain is slowly <strong>dying</strong><br>
				I need a <em>fat brain break</em> plus a nap.</p>
		</div>

		<div>
			<h2>Alpacas</h2>
			<h3>Third heading</h3>
			<p> I don't know a lot about alpacas, but they're cute. You can also make yarn out of their wool, and they're sweeter than llamas, I hear. <dr>
				Now, llamas or sheep, you can still make yarn - which is nice, but I don't know a lot about them.</dr>
				<dr>
					The only issue itself is turning the wool into yarn and sheering them.
				</dr>
			</p>
		</div>

		<div>
			<h2>Knitting</h2>
			<h3>Fourth heading</h3>
			<p>I've been working on a sweater for a long time. <br>
				The first time I had to restart was because it got like two inces too long, and trying to remove stitches is stressful. The second time I had to to restart was because I lost my notebook of notes. </p>
			</div>

